<div class="col-md-12">
  <div class="container">
    <ngb-tabset
      [justify]="'center'"
      class="custom-tab-content flex-column flex-md-row font-weight-bold"
      type="pills"
    >
      <ngb-tab title="ANM Overview">
        <ng-template ngbTabContent>
          <h3 class="font-weight-bold py-1">Course of Study</h3>
          <hr />
          <h5 class="font-weight-bold py-1">First Year</h5>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" rowspan="2">#</th>
                <th scope="col">NURSING COURSE</th>
                <th scope="col" colspan="3">CLASSROOM HOURS</th>
                <th scope="col" colspan="3">EXPERIENCE</th>
              </tr>
              <tr>
                <th scope="col">Course title and description</th>
                <th scope="col">Theory</th>
                <th scope="col">Demonstration</th>
                <th scope="col">Total</th>
                <th scope="col">Hospital</th>
                <th scope="col">Community</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Community health nursing</td>
                <td>120</td>
                <td>50</td>
                <td>170</td>
                <td>10</td>
                <td>100</td>
                <td>110</td>
              </tr>
              <tr>
                <th scope="row" rowspan="5">2</th>
                <td>Health Promotion</td>
                <td>120</td>
                <td>75</td>
                <td>195</td>
                <td>20</td>
                <td>180</td>
                <td>200</td>
              </tr>
              <tr>
                <td>A. Nutrition</td>
                <td>35</td>
                <td>20</td>
                <td>55</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>B. Human Body & Hygiene</td>
                <td>35</td>
                <td>20</td>
                <td>55</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>C. Environmental Sanitation</td>
                <td>20</td>
                <td>15</td>
                <td>35</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>D. Mental Health</td>
                <td>30</td>
                <td>10</td>
                <td>40</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row" rowspan="6">3</th>
                <td>Primary Health Care Nursing - 1</td>
                <td>130</td>
                <td>150</td>
                <td>280</td>
                <td>90</td>
                <td>300</td>
                <td>390</td>
              </tr>
              <tr>
                <td>A. Infection and Immunization</td>
                <td>25</td>
                <td>20</td>
                <td>45</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>B. Communicable Diseases</td>
                <td>40</td>
                <td>25</td>
                <td>65</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>C. Community Health Problems</td>
                <td>30</td>
                <td>50</td>
                <td>80</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>D. Primary Medical Care</td>
                <td>30</td>
                <td>10</td>
                <td>40</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>E. First Aid and Referral</td>
                <td>25</td>
                <td>35</td>
                <td>60</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Child Health Nursing</td>
                <td>75</td>
                <td>110</td>
                <td>185</td>
                <td>80</td>
                <td>100</td>
                <td>180</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Total Hours</td>
                <td>455</td>
                <td>385</td>
                <td>835</td>
                <td>200</td>
                <td>680</td>
                <td>880</td>
              </tr>
            </tbody>
          </table>
          <h5 class="font-weight-bold py-1">Total = 1720 Hours</h5>

          <br />
          <h5 class="font-weight-bold py-1">Second Year (First 6 Months)</h5>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" rowspan="2">#</th>
                <th scope="col">NURSING COURSE</th>
                <th scope="col" colspan="3">CLASSROOM HOURS</th>
                <th scope="col" colspan="3">EXPERIENCE</th>
              </tr>
              <tr>
                <th scope="col">Course title and description</th>
                <th scope="col">Theory</th>
                <th scope="col">Demonstration</th>
                <th scope="col">Total</th>
                <th scope="col">Hospital</th>
                <th scope="col">Community</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">5</th>
                <td>Midwifery</td>
                <td>200</td>
                <td>160</td>
                <td>360</td>
                <td>220</td>
                <td>160</td>
                <td>280</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Health Centre Management</td>
                <td>40</td>
                <td>40</td>
                <td>80</td>
                <td></td>
                <td>60</td>
                <td>60</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Total Hours</td>
                <td>240</td>
                <td>200</td>
                <td>440</td>
                <td>220</td>
                <td>220</td>
                <td>440</td>
              </tr>
            </tbody>
          </table>
          <h5 class="font-weight-bold py-1">Total = 880 Hours</h5>

          <br />
          <h5 class="font-weight-bold py-1">Second Year (Internship Period)</h5>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" rowspan="2">#</th>
                <th scope="col">NURSING COURSE</th>
                <th scope="col" colspan="3">EXPERIENCE</th>
              </tr>
              <tr>
                <th scope="col">Course title and description</th>
                <th scope="col">Hospital</th>
                <th scope="col">Community</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" rowspan="5">1</th>
                <td>Midwifery</td>
                <td>240</td>
                <td>240</td>
                <td>480</td>
              </tr>
              <tr>
                <td>Antenatal ward</td>
                <td>40</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Intranatal/labour room</td>
                <td>120</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Post natal ward</td>
                <td>40</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Neonatal care unit</td>
                <td>40</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row" rowspan="2">2</th>
                <td>Child Health</td>
                <td>80</td>
                <td>160</td>
                <td>240</td>
              </tr>
              <tr>
                <td>Community Health and Health center management</td>
                <td></td>
                <td>160</td>
                <td>160</td>
              </tr>
              <tr>
                <td></td>
                <td>Total Hours</td>
                <td></td>
                <td></td>
                <td>880</td>
              </tr>
            </tbody>
          </table>
          <h5 class="font-weight-bold py-1">
            Total = 880 Hours In The Internship Period
          </h5>
          <h5 class="font-weight-bold py-1">Grand Total = 1760 Hrs.</h5>

          <br />
          <h3 class="font-weight-bold py-1">Guidelines For Internship</h3>
          <ul>
            <li class="description py-1 font-weight-bold">
              The ANM students (in a group of 4-5) should be posted in the sub
              center/primary health center with a regular ANM for one month/4
              weeks for supervised independent practice in the community which
              should be residential.
            </li>
            <li class="description py-1 font-weight-bold">
              The students should participate in all the National Health and
              Family Welfare programs during their clinical experience
            </li>
            <li class="description py-1 font-weight-bold">
              At least 80% of all the clinical requirements should be completed
              before appearing for the final (Second year) examination.
            </li>
            <li class="description py-1 font-weight-bold">
              The principal of the ANM school should certify each student that
              she has undergone successfully the internship program, 100%
              clinical requirements and acquired the requisite competencies as
              listed int the syllabus before the award of the
              certificatr/diploma by the state nursing councils/examination
              boards
            </li>
            <li class="description py-1 font-weight-bold">
              The casebook and competency record book should be completed and
              signed by the competenent authority of the school.
            </li>
          </ul>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Scheme of Examination">
        <ng-template ngbTabContent>
          <h5 class="font-weight-bold py-1">
            Theory And Practical Examinations At The End Of The First Year
          </h5>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Paper</th>
                <th scope="col">Course</th>
                <th scope="col">External Assessment</th>
                <th scope="col">Internal Assessment</th>
                <th scope="col">Duration</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Theory Paper I</td>
                <td>Community Health Nursing</td>
                <td>75</td>
                <td>25</td>
                <td>3 hrs</td>
              </tr>
              <tr>
                <td>Theory Paper II</td>
                <td>Health Promotion</td>
                <td>75</td>
                <td>25</td>
                <td>3 hrs</td>
              </tr>
              <tr>
                <td>Theory Paper III</td>
                <td>Primary Health Care Nursing</td>
                <td>75</td>
                <td>25</td>
                <td>3 hrs</td>
              </tr>
              <tr>
                <td>Theory Paper IV</td>
                <td>Child Health Nursing</td>
                <td>75</td>
                <td>25</td>
                <td>3 hrs</td>
              </tr>
              <tr>
                <td>Practical I</td>
                <td>Community Health Nursing and health promotion</td>
                <td>100</td>
                <td>100</td>
                <td></td>
              </tr>
              <tr>
                <td>Practical II</td>
                <td>Child Health Nursing</td>
                <td>100</td>
                <td>100</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Total</td>
                <td>500</td>
                <td>300</td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <h5 class="font-weight-bold py-1">
            Grand Total For First Year 800 Marks
          </h5>
          <br />
          <h5 class="font-weight-bold py-1">
            Theory And Practical Examinations At The End Of The Second Year
          </h5>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Paper</th>
                <th scope="col">Course</th>
                <th scope="col">External Assessment</th>
                <th scope="col">Internal Assessment</th>
                <th scope="col">Duration</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Theory Paper V</td>
                <td>Midwifery</td>
                <td>75</td>
                <td>25</td>
                <td>3 hrs</td>
              </tr>
              <tr>
                <td>Theory Paper IV</td>
                <td>Health Centre Management</td>
                <td>75</td>
                <td>25</td>
                <td>3 hrs</td>
              </tr>
              <tr>
                <td>Practical Paper III</td>
                <td>Midwifery</td>
                <td>100</td>
                <td>100</td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <h5 class="font-weight-bold py-1">
            Grand Total For Second Year 600 Marks
          </h5>
          <br />
          <h3 class="font-weight-bold py-1">Guidelines For Internship</h3>
          <ul>
            <li class="description py-1 font-weight-bold">
              Govt. District only (if the District Hospital is not having School
              or College of Nursing attached to the District Hospital) even then
              practical examination of 2nd year ANM students should be conducted
              at District Hospital.
            </li>
            <li class="description py-1 font-weight-bold">
              All the ANM Schools run by Government or Private Schools in the
              District, their examination should be conducted in district
              hospital.
            </li>
            <li class="description py-1 font-weight-bold">
              If large number of private Schools exist in the District, proper
              planning and phasing to be done by examination board to cover all
              students.
            </li>
          </ul>
          <h5 class="font-weight-bold py-1">
            * Syllabus - Follwing INC Syllabus
          </h5>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="ANM School">
        <ng-template ngbTabContent>
          <p class="description font-weight-bold">
            Established in 1985 with 20 & 10 students in take alternate years as
            MPWF (Multi Purpose Worker Female) recognised with Punjab Nursing
            Council, managed in two rooms & one Auditorium & duration of Course
            was two year including six month internship training.
          </p>
          <p class="description font-weight-bold">
            In 1991 above course was renamed as ANM 10+2 (Vocational) courses
            under CBSE & Indian Nursing Council with 20 students capacity every
            years. Started with 5 compulsory subjects such as Community Health
            Nursing, Fundamental Health Nursing, Maternal & Child Health
            Nursing, English, Sociology and one optional subject Hindi along
            with 3 internal subjects Physical Health Education, Economics and
            Science (Biology, Chemistry & Physics).
          </p>
          <p class="description font-weight-bold">
            A new building was inaugurated on 21st Dec. 2001 by the then Hon’ble
            Health Minister, Dr. C.P.Thakur Padam Shree in the presence of
            Hon’ble Member of Parliament Dr. Sahib Singh Verma. It consists of 8
            rooms (Staff Rooms (2), Nutritional Lab (1), PNO Room (1), Class
            rooms (2), Community Lab / AV Aids(1), Mid-wifery Lab (1) on ground
            floor)& 3 rooms on 1st Floor (Library, and Fundamentals of Nursing
            Lab & Sr. Sanitary Inspector Rooms).
          </p>
          <p class="description font-weight-bold">
            From 2012 onwards Delhi Nursing Council started two years Diploma in
            ANM, after 10+2.Selection for admission to Diploma in ANM occurs
            through combined competitive examination along with Lady Reading
            Health School, Bara Hindu Rao, Delhi. Total 80 students (40 for ANM
            School RHTC & 40 for Lady Reading Health School) selected every
            year. After completion of Two years course (including internship)
            Delhi Nursing Council provides Diploma in ANM for successful
            candidates.
          </p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="ANM Hostel">
        <ng-template ngbTabContent>
          <p class="description font-weight-bold">
            ANM Hostel was established in 1985 with a building of 7 rooms, 1
            kitchen with store, 1 Dining / Recreation room, 6 bath rooms, 5
            washrooms & 1 wash room for male staff. It had a capacity of 30
            students to accommodate. Staffing pattern were One In-Charge(PHN
            Sr.) who was residing in the campus, One Warden came in 1989, one
            cook and six domestic staff.
          </p>
          <p class="description font-weight-bold">
            ANM Hostel renovated in 1991 when the course was recognised with
            CBSE guidelines. A capacity of 40 students started (20 in 1st year &
            20 in 2nd Year).
          </p>
          <p class="description font-weight-bold">
            Further modified in 2012 with the extension of six rooms, five
            washrooms attached bath rooms, six ordinary washrooms and three bath
            rooms. 26 Book Shelves iron, 40 chairs wooden, 88 Mattress, 15
            lockers, 12 wooden Tables, 15 wooden racks, 15 steel racks with 2
            water coolers with RO facility. Each room is furnished with
            curtains. One LED Television & CCTV camera at main gate is installed
            in the Hostel. A total in take of 80 students (40 in 1st year & 40
            in 2nd Year) accommodated in ANM Hostel. Hostel is compulsory for
            all ANM students taking admission at ANM School RHTC Najafgarh (As
            per guidelines of DNC).
          </p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
