<div class="col-md-12">
  <div class="container">
    <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row font-weight-bold" type="pills">
      <ngb-tab title="By Residents of VMMC">
        <ng-template ngbTabContent>
          <h5 class="font-weight-bold py-1">1. UNDER NHM</h5>
          <p class="description font-weight-bold py-1">
            RHTC Najafgarh has implemented the NHM in its three PHCs and 16 sub-centres in collaboration with CDMO (South-West), Govt. NCT of Delhi. 
          </p>
          <p class="description font-weight-bold py-1">
            Following are the staff provided by GNCT under NHM to this centre:
          </p>
          <ul>
            <li class="description py-1 font-weight-bold">Medical Officer	-	1 </li>
            <li class="description py-1 font-weight-bold">Staff Nurse		-	2</li>
            <li class="description py-1 font-weight-bold">Lab Asstt.		-	1</li>
            <li class="description py-1 font-weight-bold">CDEO			-	1</li>
            <li class="description py-1 font-weight-bold">ANM			-	1</li>
          </ul>
          <h5 class="font-weight-bold py-1 text-uppercase">2. WITH GNCT OF DELHI / MCD</h5>
          <h5 class="font-weight-bold py-1 text-uppercase">PULSE POLIO PROGRAMME:</h5>
          <p class="description font-weight-bold py-1"><strong>At PHC Najafgarh: - </strong> Pulse Polio Programme is being run at this centre with the coordination of GNCT of Delhi for the last twenty years.  Regional Vaccine Store is set up in this centre. Medical Officers of RHTC Najafgarh works as additional charges of Nodal Officer, RVS In-Charge & TMP In-Charge in co-ordination with assembly coordinator Najafgarh. A team consists of 13 Supervisors and 145 Vaccinators (such as Aanganwadi, ASHAs, ANM, students & volunteers) under RHTC Najafgarh for five days House to House search & Immunized activity.
              On National Immunization Day 14 routes & 125 booths are opened for giving Vaccination under RVS In-Charge RHTC Najafgarh. 
          </p>
          <p class="description font-weight-bold py-1"><strong>At PHC Palam: - </strong> Regional Vaccine Store is set up in this centre. Medical Officers of PHC Palam works as additional charges of RVS In-Charge & TMP In-Charge in coordination with Assembly co-ordinator Palam & Dwarka. Team consisting of 3 Supervisors & 36 Vaccinators (such as Aanganwadi, ASHAs, ANM & volunteers) under PHC Palam for five days House to House search & Immunized activity.
            On National Immunization Day 12 routes & 131 booths and 2 Mobile are opened for giving Vaccination under RVS In-Charge PHC Palam. 
          </p>
          <p class="description font-weight-bold py-1"><strong>DOTS CENTRE: - </strong> A DOTS Centre of GNCT is set up in PHC Najafgarh & Palam to investigate and treat the TB patients.  Patients are being referred for sputum tests to this centre by the MOs of our PHCs. DOTS centre provides free of cost ATT to the patient categorized by Medical Officers as per RNTC programme. This unit has staff consisting of One DOTs Provider and One Lab Technicians.
          </p>
          <p class="description font-weight-bold py-1"><strong>ICTC CENTRE: - </strong> An ICTC Centre has been set up in PHC Najafgarh & Palam in coordination with GNCT for counselling, Diagnosis and referral of HIV / AIDS patients for ART. This unit has staff consisting of One Counselor and One Lab Technicians.  
          </p>
          <p class="description font-weight-bold py-1"><strong>MALARIA CLINIC: - </strong> A Malaria Clinic of MCD is functioning in PHC Najafgarh & Palam in with a staff of AMI, Lab Technician and a field worker.  The patients are being referred to this clinic by the MOs of this centre for peripheral smear for Malaria parasite. Free of cost Anti Malarial treatment provided to positive cases.  
          </p>
          <p class="description font-weight-bold py-1">Its other unit (VBD) performs Anti Larva Spray, Focal Spray, Fogging and domestic breading check up with a staff of one Malaria Inspector, One Assistant Malaria Inspector, One Supervisor (Anti Larva), Twenty Field worker and Seventeen Domestic Building Checking (DBC)staff.</p>
          <p class="description font-weight-bold py-1"><strong>CATS: - (Centralized Ambulance Trauma Services): - </strong> CATS Centre has been set up in coordination with GNCTD at RHTC Najafgarh. It provides pre-hospital emergency medical response services to the general public through outside contracting; these services are being expanded, increasing in process the reach & scope of existing services provided under “CATS”. Presently number of CATS vehicles are three in which all are fitted with GPS facility. It works round the clocks in three shifts with 6 staff in each shift (3 Drivers & 3 Paramedical Staff). All the vehicles have Delivery Kit, Oxygen cylinder, First Aid with few medicines such as Sorbitrate, PCM, Betadine Cream etc. and equipments such as BP Apparatus, Ambo Bag, and Suction Machine.  
          </p>
          <p  class="font-weight-bold py-1">Services are available free of cost for general public after dialing 102</p>
          <h5 class="font-weight-bold py-1 text-uppercase">3. ACTIVITIES CONDUCTED BY DEPARTMENT OF COMMUNITY MEDICINE, VMMC & SAFDARJUNG HOSPITAL</h5>
          <h5 class="font-weight-bold py-1 text-uppercase">Rural Health Training Centre, Najafgarh</h5>
          <p class="description py-1 font-weight-bold">Rural Health Training Centre (RHTC), Najafgarh is located at a distance of 35 km. from VMMC and it caters to a population of 1, 60,000. </p>
          <p class="description py-1 font-weight-bold">Services provided:</p>
          <ul>
            <li class="description py-1 font-weight-bold">Training of Interns & Externs</li>
            <li class="description py-1 font-weight-bold">OPD services: General OPD, Orthopaedics OPD, Paediatrics OPD, Ophthalmology OPD, Gynaecology OPD, Dermatology OPD.</li>
            <li class="description py-1 font-weight-bold">Non-communicable disease clinic</li>
            <li class="description py-1 font-weight-bold">Maternal + child health clinic</li>
            <li class="description py-1 font-weight-bold">Growth monitoring of under-five children</li>
            <li class="description py-1 font-weight-bold">Immunization clinic</li>
            <li class="description py-1 font-weight-bold">Ante-natal clinic</li>
            <li class="description py-1 font-weight-bold">Health education and counselling</li>
            <li class="description py-1 font-weight-bold">Health talks by interns and MD students</li>
            <li class="description py-1 font-weight-bold">School health</li>
          </ul>
          <h5 class="font-weight-bold py-1 text-uppercase">New Services Estabilished</h5>
          <h5 class="font-weight-bold py-1 text-uppercase">NCD Clinic (Non-Communicable Disease Clinic)</h5>
          <p class="font-weight-bold py-1">We have extended our services in the field of Non Communicable disease by setting up a New Clinic exclusively for Screening and treatment of NCDs. It was inaugurated by additional district magistrate of that region on 23.02.2018. Regular monitoring of blood pressure and capillary blood glucose of patients with hypertension and/or diabetes mellitus is being done at the NCD clinic daily. Counselling for lifestyle modification is done for every patient. Opportunistic screening for hypertension, diabetes mellitus, oral cancer and breast cancer at the NCD clinic in the centre among all individuals 30 years of age or more attending the RHTC, in accordance with NPCDCS guidelines, is being carried out daily. </p>         
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Research Done">
        <ng-template ngbTabContent>
          <ul>
            <li class="description py-1 font-weight-bold">Morbidity profile of women in a Non-Communicable Disease screening camp in a rural part of Delhi. PI- Dr. Preety Doley.</li>
            <li class="description py-1 font-weight-bold">An epidemiological study of musculoskeletal disorders in adults of rural area of Delhi. PI- Dr. Ashok.</li>
            <li class="description py-1 font-weight-bold">A study of depression among tuberculosis patients attending directly observed treatment Short Course at rural health training centre Najafgarh, Delhi. PI- Dr. Pooja.</li>
            <li class="description py-1 font-weight-bold">Prevalence and pattern of self-medication & awareness, perceptions of associated health hazards among adult residents of rural area, Delhi. PI- Dr. Sunil.</li>
            <li class="description py-1 font-weight-bold">Impact of hands-on training on CPR among ANM students- pre and post analysis at RHTC, Najafgarh. PI- Dr. Venkatesh.</li>
            <li class="description py-1 font-weight-bold">Anthropometric profile of under-5 children and assessment of knowledge, attitude and practices of their mothers about home based care of children in village Roshanpura, Najafgarh, Delhi. PI- Dr. Venkatesh.</li>
          </ul>
          <h5 class="font-weight-bold py-1">Publications</h5>
          <ul>
            <li class="description py-1 font-weight-bold">Container survey of Aedes breeding sitesin a rural health training centre campus in South-west of Delhi (Journal- Epidemiology International)</li>
            <li class="description py-1 font-weight-bold">One day symposium on ‘imparting skills to tackle adolescent health problems’ at RHTC, Najafgarh, New Delhi. (Journal- Indian Journal of Youth & Adolescent Health).</li>          
          </ul>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Sports Meet">
        <ng-template ngbTabContent>
          <p  class="description py-1 font-weight-bold">It was decided by Chairmanship of Director RHTC Najafgarh along with other committee members that a Sports meets has to be performed at RHTC Najafgarh from 05th to 9th February 2018. In which fourteen events were opened for competition among the following category:-</p>
          <ul>
            <li class="description py-1 font-weight-bold">Males less than equal to 40 years of age. (total 13 employees / Officers participated)</li>
            <li class="description py-1 font-weight-bold">Females less than equal to 40 years of age.(total 11 employees / Officers participated)</li>
            <li class="description py-1 font-weight-bold">Females more than 40 years of age. (total 5 employees / Officers participated)</li>
            <li class="description py-1 font-weight-bold">1st& 2nd Students of ANM School. (total 78 students participated)</li>
          </ul>
          <p class="description py-1 font-weight-bold">Total 200 Medals were presented to the 1st, 2nd& 3rd winners in different games as 60 Gold’s, 40 Silver’s & 60 Bronze’s along with certificates. Besides this best active support, Best in Academics, Most Regular & Punctual, Best in Sports among ANM Students, best services as a National Refree and Sportsman (National Player) of the year 2017-18.</p>
          <p class="description font-weight-bold">Moreover Mr. Naresh Kumar has been declared as a Best National Player in Shooting Ball for the year 2017-18.</p>
          <p class="description font-weight-bold">All the certificates & trophies were presented by Hon’ble Member of Parliament (lok Sabha) Dr.Yaswant Singh; Dr.Umesh Kapil, AIIMS and Mrs. Antim Gahlot, Counciller.</p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>