<div class="col-md-12">
  <div class="container">
    <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row font-weight-bold" type="pills">
      <ngb-tab title="Primary Health Centre, Najafgarh">
        <ng-template ngbTabContent>
          <ul>
            <li class="description py-1 font-weight-bold">Established in the year 1952.</li>
            <li class="description py-1 font-weight-bold">Registered population covered - 82037(Excluding town)</li>
            <li class="description py-1 font-weight-bold">Land/Building -92 Bigah land. Having its own building
              (including old and new Training Block, ANM Hostel, TB Centre, Malaria Bldg), Admn. Block and 50
              Residential Qtrs within the campus.</li>
            <li class="description py-1 font-weight-bold">Sub-Centres: Dichaon Kalan, Mitraon, RFTC Chhawla, New Roshan
              Pura & Laxmi Vihar & Four Notional Sub Centres.</li>
          </ul>
          <h5 class="font-weight-bold py-1">ACTIVITIES OF PRIMARY HEALTH CENTRE, NAJAFGARH</h5>
          <ul>
            <li class="description py-1 font-weight-bold">Emergency services - Round the clock with 8 bedded indoor
              facility.</li>
            <li class="description py-1 font-weight-bold">OPD services.</li>
            <li class="description py-1 font-weight-bold">Laboratory services - Routine tests/investigations relating to
              blood, urine and stool etc.</li>
            <li class="description py-1 font-weight-bold">MCH Services - Routine Immunization, Antenatal advice and
              counselling on safe deliveries, Post natal follow ups, Management of other Gynaecological problems,
              Management of Newborn and childhood diseases and Diagnosis & Treatment of other diseases. Identification
              and management of any complication.</li>
            <li class="description py-1 font-weight-bold">Family Welfare Services in Post Partum Unit – Counselling on
              birth spacing, Motivation for male & female sterlization, CuT Insertion, Oral Pills & CC Distribution and
              MTP through pills (Medical management of MTP).</li>
            <li class="description py-1 font-weight-bold">Latest Bio Medical waste guidelines are being followed & waste
              segregated according to segregation s by norms.</li>
            <li class="description py-1 font-weight-bold">Mobile Services.</li>
            <li class="description py-1 font-weight-bold">Health Education Services.</li>
            <li class="description py-1 font-weight-bold">Rural Training to Medical Interns of SJH, RML Hospital etc.
            </li>
            <li class="description py-1 font-weight-bold">Referral Services.</li>
            <li class="description py-1 font-weight-bold">One month rural orientation of GNM students of Government and
              private institutions.</li>
            <li class="description py-1 font-weight-bold">10 weeks Community base Midwifery Internship training to 2nd
              year ANM Students of our school.</li>
            <li class="description py-1 font-weight-bold">4 weeks field Health Centre Management Internship training to
              2nd year ANM Students of our school.</li>
            <li class="description py-1 font-weight-bold">10 weeks Midwifery Internship training to 2nd year ANM
              Students of our school referred to Dada Dev Hospital, Dabri, New Delhi.</li>
            <li class="description py-1 font-weight-bold">8 weeks Medical, Surgical & Paediatrics training to1st year
              ANM Students of our school referred to RTRM Hospital, Jaffarpur, New Delhi.</li>
            <li class="description py-1 font-weight-bold">6 weeks for Rural Community Health training to 1st year ANM
              Students of our school at PHC Najafgarh and at Sub centres of three PHCs.</li>
            <li class="description py-1 font-weight-bold">6 weeks for Urban Community Health training to 1st year ANM
              Students of our school at PHC Najafgarh and at Sub centres of three PHCs.</li>
          </ul>
          <h5 class="font-weight-bold py-1 text-uppercase">1. Orthopedics Clinic</h5>
          <p class="font-weight-bold py-1">The following facilities are available at Orthopedic clinic:-</p>
          <ul>
            <li class="description py-1 font-weight-bold">Trauma care which includes fracture reduction, stabilization
              of fracture site& plastering</li>
            <li class="description py-1 font-weight-bold">Cold cases of OPD such as Arthritis</li>
            <li class="description py-1 font-weight-bold">Physiotherapy is being done by a Physiotherapist who is on
              contact basis. It includes Intra Articular Injection and Physiotherapy with the help of modern
              equipment’s.</li>
            <li class="description py-1 font-weight-bold">Emergency Road Traffic Accident (RTA) cases Management
              includes wound care, stabilization of patients and referral to the higher centre after stabilization of
              patients if needed.</li>
            <li class="description py-1 font-weight-bold">Minor Surgical Procedure like excision of lump etc.</li>
            <li class="description py-1 font-weight-bold">Maintain Disaster management team.</li>
            <li class="description py-1 font-weight-bold">Routine checkup.</li>
          </ul>
          <h5 class="font-weight-bold py-1 text-uppercase">2. Ophthalmology Clinic</h5>
          <p class="font-weight-bold py-1">The following facilities are available at Ophthalmology clinic:-</p>
          <ul>
            <li class="description py-1 font-weight-bold">Anterior Segment examination up by slit lamp.</li>
            <li class="description py-1 font-weight-bold">Cataract diagnosis &examination.</li>
            <li class="description py-1 font-weight-bold">Non surgical (Medical) Management of Glaucoma.</li>
            <li class="description py-1 font-weight-bold">Posterior Segment (Retina) Examination by Indirect
              ophthalmoscope and various lenses.</li>
            <li class="description py-1 font-weight-bold">Registration of patient for Kerotoplasty & refer to AIIMS for
              Surgery.</li>
            <li class="description py-1 font-weight-bold">Paediatrics Ophthalmology clinic dealing with squint &
              Amblyopia and refractive errors are being conducting.</li>
            <li class="description py-1 font-weight-bold">Minor surgical procedure like Chalazion removal & foreign body
              removal, epilation etc. are being done.</li>
            <li class="description py-1 font-weight-bold">Performed National Blind Control Program activities.</li>
            <li class="description py-1 font-weight-bold">Performed Special classes of ASHAs during their training as &
              when his services required.</li>
            <li class="description py-1 font-weight-bold">Routine eyes checkup.</li>
          </ul>
          <h5 class="font-weight-bold py-1 text-uppercase">3. Chest Clinic</h5>
          <ul>
            <li class="description py-1 font-weight-bold">Everyday Chest Clinic is running at PHC Najafgarh.</li>
            <li class="description py-1 font-weight-bold">Spirometery (PFT) - may be done to suspected asthmatic and
              COPD patients.</li>
            <li class="description py-1 font-weight-bold">Plural fluid aspiration- Facilities available at PHC
              Najafgarh.</li>
            <li class="description py-1 font-weight-bold">DOTS Centre- All the TB Patients are treated with the
              available medicines under DOTS ( RNTCP)</li>
          </ul>
          <h5 class="font-weight-bold py-1 text-uppercase">4. Skin & VD Clinic </h5>
          <p class="description font-weight-bold py-1">This unit is being run by Mobile team consisting of Sr. Doctor,
            PHN, Lab Technician, Nursing Attendant & Driver of Safdarjang Hospital at PHC Najafgarh on every Friday.
          </p>
          <p class="description font-weight-bold py-1">The following facilities are available in this unit:-</p>
          <p class="description font-weight-bold py-1">Examine the Skin & VDRL patients.</p>
          <ul>
            <li class="description py-1 font-weight-bold">Vaginal smear & Follow up cases.</li>
          </ul>
          <h5 class="font-weight-bold py-1 text-uppercase">5. Psychiatric Clinic </h5>
          <p class="description font-weight-bold py-1">This unit is being run by Mobile team consisting of Sr. Doctor,
            PHN, Lab Technician, Nursing Attendant & Driver of Safdarjang Hospital at PHC Palam on every Wednesday.</p>
          <p class="description font-weight-bold py-1">The following facilities are available in this unit:-</p>
          <p class="description font-weight-bold py-1">Examine the Skin & VDRL patients.</p>
          <ul>
            <li class="description py-1 font-weight-bold">Vaginal smear & Follow up cases.</li>
          </ul>
          <h5 class="font-weight-bold py-1 text-uppercase">6. Psychiatric Clinic at PHC Najafgarh by Dr.RML Hospital
            Specialists. </h5>
          <p class="description py-1 font-weight-bold">This unit is being run by team consisting of Sr. Doctor with
            Interns from Dr. RML Hospital at PHC Najafgarh on every Wednesday. </p>
          <h5 class="font-weight-bold py-1 text-uppercase">7. Psychiatric Clinic at PHC Najafgarh.</h5>
          <p class="description py-1 font-weight-bold">
            This unit is being run by Richmond Fellowship Society (India), NGO at PHC Najafgarh on every Thursday with a
            team of Senior Psychiatrist Dr. Satyawati along with two counsellors. The facilities are run based on the
            Therapeutic community model as a rehabilitative effort for people suffering from mental illness. Services
            offered by the RFS India include Short & Long Stay Homes, Day Care and Vocational training. Outreach
            programmes are alsoconducted for mentally ill to provide free diagnosis and treatment for mentally and
            emotionally disturbed persons: to create public awareness about mental health problems & removing stigma;
            and to collaborate and network with other organizations having similar objectives. In 2016, RFS (India)
            celebrated 30years of services in India. A national Conference was organized in September 2016 at AIIMS, New
            Delhi to share experiences and reflect on empowering people with mental health needs.
          </p>
          <p class="description py-1 font-weight-bold">
            The Delhi branch of the RFS “Vishwas” has been partnering with PHC Najafgarh from 2008 initially through a
            grant from WHO for the two years and then continuing the service regularly one a week OPD.
          </p>
          <p class="description py-1 font-weight-bold">
            The following table shows the record of patients in the outreach clinic, PHC Najafgarh, benefitted from the
            service through counselling, free medicine and follow up. The most problems diagnosed were depression,
            anxiety, BPAD, OCD, schizophrenia and alcoholism.
          </p>
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th scope="col" rowspan="2">Period</th>
                <th scope="col" colspan="2">New</th>
                <th scope="col" colspan="2">Follow-up</th>
                <th scope="col" rowspan="2">Total</th>
              </tr>
              <tr>
                <th scope="col">Male</th>
                <th scope="col">Female</th>
                <th scope="col">Male</th>
                <th scope="col">Female</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><b>April 2015 to March 2016</b></th>
                <td>87</td>
                <td>78</td>
                <td>441</td>
                <td>426</td>
                <td>1032</td>
              </tr>
              <tr>
                <th scope="row"><b>April 2016 to March 2017</b></th>
                <td>103</td>
                <td>74</td>
                <td>405</td>
                <td>383</td>
                <td>965</td>
              </tr>
              <tr>
                <th scope="row"><b>April 2017 to March 2018</b></th>
                <td>131</td>
                <td>116</td>
                <td>580</td>
                <td>540</td>
                <td>1367</td>
              </tr>
              <tr>
                <th scope="row">
                  <b>
                    April 2018 to March 2019
                    Up to Dec 2018
                  </b>
                </th>
                <td>75</td>
                <td>66</td>
                <td>434</td>
                <td>368</td>
                <td>943</td>
              </tr>
              <tr>
                <th scope="row"><b>Grand Total</b></th>
                <td>396</td>
                <td>334</td>
                <td>1860</td>
                <td>1717</td>
                <td>4307</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Primary Health Centre, Ujwa">
        <ng-template ngbTabContent>
          <ul>
            <li class="description py-1 font-weight-bold">Established in the year 1955.</li>
            <li class="description py-1 font-weight-bold">Registered Population covered - 40869</li>
            <li class="description py-1 font-weight-bold">Land/Building -7.5 Bigah land. Having its own temporary shed
              building within the campus.</li>
            <li class="description py-1 font-weight-bold">Sub-Centres: Dhansa, Jafferpur(temp excluded), Mundhela Kalan
              and Ghumanhera.</li>
          </ul>
          <h5 class="font-weight-bold py-1">ACTIVITIES OF PRIMARY HEALTH CENTRE, UJWA</h5>
          <ul>
            <li class="description py-1 font-weight-bold">OPD Services.</li>
            <li class="description py-1 font-weight-bold">MCH Services - Immunization, Antenatal advice and counselling
              on safe deliveries, Post natal follow ups, Counselling on birth spacing, Management of other
              Gynaecological problem, Management of newborn and childhood diseases and Diagnosis & Treatment of other
              diseases. Identification and management of any complication.</li>
            <li class="description py-1 font-weight-bold">Family Welfare Services -Motivation for male & female
              sterlization. Oral Pills &CC Distribution.</li>
            <li class="description py-1 font-weight-bold">Health Education Services.</li>
            <li class="description py-1 font-weight-bold">Rural Training to Medical Interns SJH/RML Hospital etc.</li>
            <li class="description py-1 font-weight-bold">Referral Services.</li>
            <li class="description py-1 font-weight-bold">6 weeks for Rural Community Health training to 1st year ANM
              Students of our school at PHC Ujwa and at Sub centres of three PHCs.</li>
            <li class="description py-1 font-weight-bold">One month Rural orientation of GNM students of Government and
              private institutions</li>
            <li class="description py-1 font-weight-bold">Outreach immunization session under IMI.</li>
          </ul>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Primary Health Centre, Palam">
        <ng-template ngbTabContent>
          <ul>
            <li class="description py-1 font-weight-bold">Established in the year 1957.</li>
            <li class="description py-1 font-weight-bold">Population covered 1,25,691(Registered Population – 42869for all kind of RCH Services and other floated Population 80,000 for OPD & Other Lab Services).</li>
            <li class="description py-1 font-weight-bold">Land/Building: 24 Bigah (38,890 Sq.meter) land. Having its own Building and few Residential Qtrs. within the campus.</li>
            <li class="description py-1 font-weight-bold">Sub-Centres: Adarsh Gali (Palam), Puran Nagar, Harijan Basti, Palam Village, Pochanpur village.</li>
          </ul>
          <h5 class="font-weight-bold py-1">ACTIVITIES OF PRIMARY HEALTH CENTRE, PALAM</h5>
          <ul>
            <li class="description py-1 font-weight-bold">OPD Services.</li>
            <li class="description py-1 font-weight-bold">Specialist Services for Obs.,Gynae, STD/Skin & Dental cases on outsourcing basis.</li>
            <li class="description py-1 font-weight-bold">Laboratory Services - Routine tests/investigations relating to blood, urine and stool etc.</li>
            <li class="description py-1 font-weight-bold">MCH Services - Immunization, Antenatal care and for advice counselling on safe deliveries, house based neonatal care, Post natal follow ups, Management of newborn and childhood diseases and Diagnosis & Treatment of other diseases.  Identification and management of any complication.</li>
            <li class="description py-1 font-weight-bold">Family Welfare Services – Counselling on birth spacing, Motivation for male & female sterlization, CuT Insertion, Oral Pills & CC Distribution, and Advice on emergency contraception and Injectable contraception.</li>
            <li class="description py-1 font-weight-bold">Health Education Services.</li>
            <li class="description py-1 font-weight-bold">Rural Training to Medical Interns LHMC& other Medical institutions.</li>
            <li class="description py-1 font-weight-bold">Referral Services.</li>
            <li class="description py-1 font-weight-bold">6 weeks for Rural Community Health training to 1st year& 2nd year ANM, GNM, B.Sc nursing, LHV training from various institutions.</li>
            <li class="description py-1 font-weight-bold">ASHA Sub unit under main ASHA unit DGHC Sadhnagar with all activities of ASHA such as JSY, MIK, PMSMA, Indradhanush &other health programme time to time</li>
            <li class="description py-1 font-weight-bold">World Population Day & other NHM activities under RCH programme.</li>
          </ul>
          <h5 class="font-weight-bold py-1">Obs. & Gynae Clinic at PHC Palam</h5>
          <p class="description font-weight-bold">This unit is being run by team consisting of Sr. Doctor with Interns from LHMC, Hospital at PHC Palam on every Tuesday. </p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>