<div class="col-md-12">
  <div class="container">

    <div class="row d-flex justify-content-center p-3">
      <img class="rounded" alt="loader" src="./assets/upload/OrgChart.png" />
    </div>

    <ngb-tabset
      [justify]="'center'"
      class="custom-tab-content flex-column flex-md-row font-weight-bold"
      type="pills"
    >
      <ngb-tab title="Training">
        <ng-template ngbTabContent>
          <ul>
            <li class="description py-2 font-weight-bold">
              Training to Medical Interns under ROME Scheme. 794 unpaid Medical
              Interns undergone rural posting from this Centre the in year
              2017-18.
            </li>
            <li class="description py-2 font-weight-bold">
              Training for Certificate course in ANM 10+2 (Voc.) Students with
              intake capacity of 20 students per academic session under CBSE up
              to 2011.
            </li>
            <li class="description py-2 font-weight-bold">
              Training to Diploma in ANM for 10+2 Students with intake capacity
              of 40 students per academic session under DNC w.e.f 2012.
            </li>
            <li class="description py-2 font-weight-bold">
              Community Health Nursing Training to BSc/MSc/GNM students of
              various Nursing Institutions like College of Nursing, Safdarjung
              Hospital, RML Hospital, Lady Hardinge Medical College, Holy Family
              Hospital, Batra Hospital, Apollo Hospital, Raj Kumari Amrit Kaur
              college of nursing and various other Govt./State Govt./Pvt.
              instititutions. In totol2116 trainees were trained during the year
              2017-18
            </li>
            <li class="description py-2 font-weight-bold">
              Promotional Training to Nursing Personnel.
            </li>
            <li class="description py-2 font-weight-bold">
              One Day Observation Visit.
            </li>
            <li class="description py-2 font-weight-bold">
              Rural Training to students of Diploma in Sanitary Inspector from
              various institutions of Delhi.200 students were given training in
              the year 2017-18.
            </li>
          </ul>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Field Studies">
        <ng-template ngbTabContent>
          <div class="row align-items-center">
            <div class="description py-2 font-weight-bold">
              Conducts field studies aspects of Health & Family Welfare, RCH,
              Nutrition, Health Education and Communicable Diseases and also
              provides field services for research work to the various health
              institutions, i.e. NIHAI, AIIMS & RAK PG Students in public
              health.
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Delivery of health care services">
        <ng-template ngbTabContent>
          <div class="row align-items-center">
            <div class="description py-2 font-weight-bold">
              Providing Primary Health Care, Preventive, Promotive and Curative
              Services to the low socio-economic group of people of 64 villages
              and 9 town of Najafgarharea through its three Primary Health
              Centres and 16 Sub-Centres (which includes 9 Physical & 7Notional
              SCs) including 24x7 Emergency Services in PHC Najafgarh.
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
