<div class="col-md-12">
  <div class="container post-container bg-white">
    <div class="container-content">
      <h5 class="font-weight-bold py-1">Downloads</h5>
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              ANM Course Admission Notice 2024-26
            </td>
            <td><a href="/assets/upload/ANM Course Admission Notice 2024-26.pdf" target="_blank">View</a></td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              PROSPECTUS - ANM Diploma Course 2024-26
            </td>
            <td><a href="/assets/upload/PROSPECTUS - ANM Diploma Course 2024-26.pdf" target="_blank">View</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
