<div class="col-md-12">
  <div class="container post-container">
    <div class="container-content">
      <h5 class="font-weight-bold">Contact</h5>
      <p class="font-weight-bold">Rural Health Training Centre (RHTC)</p>
      <p class="font-weight-bold">Najafgarh, New Delhi – 110 043</p>
      <!-- <p class="font-weight-bold">Director RHTC: 2522065</p> -->
      <p class="font-weight-bold">Contact: 011-20897851</p>
      <!-- <p class="font-weight-bold">Training: 25021885</p>
      <p class="font-weight-bold">PHC Ujwa: 25318335</p>
      <p class="font-weight-bold">PHC Palam: </p> -->
      <p class="font-weight-bold">Email: director-rhtc@gov.in</p>
    </div>
  <div class="container-content">
    <!-- <h5 class="font-weight-bold">Details of CPIO</h5> -->
    <p class="font-weight-bold">Name : Dr Sunil Sindhu</p>
    <p class="font-weight-bold">Designation : Medical Superintendent and Vigilance Officer</p>
    <p class="font-weight-bold">Email Id : sunilsindhu201974@gmail.com</p>
    <p class="font-weight-bold">Telephone No. : 011-20897852</p>
  </div>

    <div class="container-content">
      <h5 class="font-weight-bold">Details of CPIO</h5>
      <p class="font-weight-bold">Name : Dr Rajat Singh, CPIO</p>
      <p class="font-weight-bold">Designation : Chief Medical Officer</p>
      <p class="font-weight-bold">Email Id : rtirhtc@gmail.com</p>
      <p class="font-weight-bold">Telephone No. : 011-20897851</p>
    </div>
    <div class="container-content">
      <h5 class="font-weight-bold">Details of First Appellate Authority</h5>
      <p class="font-weight-bold">Name: Dr. B. K Kundu</p>
      <p class="font-weight-bold">Designation: Director</p>
      <p class="font-weight-bold">Email: director-rhtc@gov.in</p>
      <p class="font-weight-bold">Contact: 011-20895149</p>
    </div>

    <div class="container-content">
      <h5 class="font-weight-bold">Independent External Monitor (IEM) for RHTC, Najafgarh</h5>
      <p class="font-weight-bold">Name: Ms. Arundhaty Ghosh</p>
      <p class="font-weight-bold">Email:  arundhatyg@gmail.com</p>
      <p class="font-weight-bold">Name: Lt. Gen Harsha Gupta</p>
      <p class="font-weight-bold">Email:  hhharsha14@hotmail.com</p>
    </div>
  </div>
</div>