<!doctype html>
<html lang="en">

<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>ADMIT CARD</title>
    <style>
        .txt-center {
            text-align: center;
        }

        .border- {
            border: 1px solid #000 !important;
        }

        .padding {
            padding: 5px;
        }

        .mar-bot {
            margin-bottom: 5px;
        }

        .admit-card {
            border: 1px solid #000;
            padding: 5px;
            margin: 10px 0;
        }

        .BoxA h5,
        .BoxA p {
            margin: 0;
        }

        h5 {
            text-transform: uppercase;
        }

        table img {
            width: 100%;
            margin: 0 auto;
        }

        .table-bordered td,
        .table-bordered th,
        .table thead th {
            border: 1px solid #000000 !important;
        }

        .attachphoto {
            width: 120px;
            height: 100px;
        }
    </style>
</head>

<body>
    <section>
        <div class="container">
            <div class="admit-card">                
                <div class="BoxA border- padding mar-bot">
                    <div class="row">
                        <div class="col-sm-4 mt-3">
                            <h5>RHTC</h5>
                            <h5>NAJAFGARH</h5>
                            <p>NEW DELHI, INDIA</p>
                        </div>
                        <div class="col-sm-4 txt-center">
                            <img src="https://rhtcnajafgarh.in/assets/img/brand/ashoka.png" width="50px;" />
                            <p><b>GOVERNMENT OF INDIA</b></p>
                        </div>
                        <div class="col-sm-4 text-right mt-3">
                            <h5>LRHS BARA HINDU RAO</h5>
                            <p>2022-2024</p>
                        </div>
                    </div>
                </div>
                <div class="BoxC border- padding mar-bot">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h5>ADMIT CARD - ANM COURSE COMBINED ENTRANCE EXAM (CEE) -2022-24</h5>
                        </div>
                    </div>
                </div>
                <div class="BoxD border- padding mar-bot">
                    <div class="row">
                        <div class="col-sm-10">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <b>ROLL NO: ROLLNO </b> 
                                        </td>
                                        <td>
                                            <b>APPLICATION NO</b> : <b> STUDENTAPPLICATIONID </b>
                                        </td>
                                    </tr>
                                    <tr>                                        
                                        <td>
                                            <b>Name of the Candidate: </b>CANDIDATENAME
                                        </td>
                                        <td>
                                            <b>Date of Birth as per 10th: </b>DOB
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Father Name: </b>FATHERNAME</td>
                                        <td><b>Mother Name: </b>MOTHERNAME</td>
                                    </tr>
                                    <tr>
                                        <td><b>Category: </b>CASTECATEGORY</td>
                                        <td><b>Time of Reporting: </b>TIMESLOT</td>
                                    </tr>
                                    <tr>
                                        <td><b>Date of Exam: </b>21st August 2022(Sunday)</td>
                                        <td><b>Time of Exam: </b>10:00 AM to 12:00 PM</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-2 txt-center">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th scope="row txt-center">
                                            <img src="PHOTOURL"  width="120px" height="112px" />
                                        </th>
                                    </tr>
                                    <tr>
                                        <th scope="row txt-center m-0">
                                            <img src="SIGNURL" width="120px" height="82px" />
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="BoxE border- padding mar-bot txt-center">
                    <div class="row">
                        <div class="col-sm-10">
                            <h5><b>EXAMINATION VENUE</b></h5>
                            <p>PRAGATI PUBLIC SCHOOL, NEAR METRO STATION,
                                SECTOR-13,<br> DWARKA, NEW DELHI- 110078, INDIA</p>
                        </div>
                        <div class="col-sm-2">
                            <div class="attachphoto border">
                                <p>Paste your passport size photograph</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="BoxF border- padding text-left">
                    <div class="row">
                        <div class="col-sm-12 pl-4">
                            <div class="col-md-12 text-center">
                                <h5>IMPORTANT INSTRUCTIONS</h5>
                            </div>
                            <p>1. Reporting Time as per the Time Slot give above, No candidate will be allowed to enter in the examination hall after 09:45 AM.</p>
                            <p>2. Candidate should follow the following instrctions:-</p>
                            <p class="ml-4">a) Wear three layer surgical masks.</p>
                            <p class="ml-4">b) Bring transparent water bottle.</p>
                            <p class="ml-4">c) 50ml hand sanitizer.</p>
                            <p class="ml-4">d) Admit Card and Aadhar card in original.</p>
                            <p class="ml-4">e) Every student will go for thermal screening.</p>
                            <p class="ml-4">f) Maintain social Distance(3 feet).</p>
                            <p>3. Black ball pens & masks will be provoded. (Note: you have to return black pen after exam)
                            </p>
                            <p>4. Candidate must abide by the instructions given by the Supervisor/Invigilator.</p>
                            <p>5. The candidates will not be allowed to the Examination Hall without valid Admit card.</p>
                            <p>6. The candidates are not allowed to bring other paper, electronic devices, ornament caps, belts etc. except the Admit Card.</p>
                            <p>7. There will be no separate arrangement for storing their other belongings in/outside the examination hall.</p>
                            <p>8. No candidates will be allowed to leave the Examination Hall, before the completion of Exam in separate batches.
                            </p>
                        </div>
                    </div>
                </div>                
                <div class="BoxE border- padding mar-bot txt-center">
                    <div class="row">
                        <div class="col-sm-4">
                            <h5><b>INVIGILATOR NAME & SIGNATURE</b></h5>
                            <br>
                            <p>____________________________________</p>
                            (Invigilator should verify candidate signature)
                        </div>
                        <div class="col-sm-4">
                            <h5><b>STUDENT LEFT THUMB IMPRESSION</b></h5>
                            <br>
                            <p>___________________________</p>
                        </div>
                        <div class="col-sm-4">
                            <h5><b>STUDENT SIGNATURE</b></h5>
                            <br>
                            <p>___________________________</p>
                            (Student should sign admit card in presence of invigilator)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-12 text-center">
                    <h5>Admit card should be retained till the admission process is over</h5>
                </div>
            </div>
        </div>
    </section>
</body>
</html>