<!doctype html>
<html lang="en">

<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>APPLICATION FORM</title>
    <style>
        .txt-center {
            text-align: center;
        }

        .border- {
            border: 1px solid #000 !important;
        }

        .padding {
            padding: 5px;
        }

        .mar-bot {
            margin-bottom: 5px;
        }

        .admit-card {
            border: 1px solid #000;
            padding: 5px;
            margin: 10px 0;
        }

        .BoxA h5,
        .BoxA p {
            margin: 0;
        }

        h5 {
            text-transform: uppercase;
        }

        table img {
            width: 100%;
            margin: 0 auto;
        }

        .table-bordered td,
        .table-bordered th,
        .table thead th {
            border: 1px solid #000000 !important;
        }

        .attachphoto {
            width: 120px;
            height: 100px;
        }
    </style>
</head>

<body>
    <section>
        <div class="container">
            <div class="admit-card">
                <div class="BoxA border- padding mar-bot">
                    <div class="row">
                        <div class="col-sm-4 mt-3">
                            <h5>RHTC</h5>
                            <h5>NAJAFGARH</h5>
                            <p>NEW DELHI, INDIA</p>
                        </div>
                        <div class="col-sm-4 txt-center">
                            <img src="https://rhtcnajafgarh.in/assets/img/brand/ashoka.png" width="50px;" />
                            <p><b>GOVERNMENT OF INDIA</b></p>
                        </div>
                        <div class="col-sm-4 text-right mt-3">
                            <h5>LRHS BARA HINDU RAO</h5>
                            <p>2022-2024</p>
                        </div>
                    </div>
                </div>
                <div class="BoxC border- padding mar-bot">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h5>APPLICATION FORM - ANM COURSE COMBINED ENTRANCE EXAM (CEE) -2022-24</h5>
                        </div>
                    </div>
                </div>
                <div class="BoxD border- padding mar-bot">
                    <div class="row">
                        <div class="col-sm-10">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>
                                            <b>ROLL NO: ROLLNO </b>
                                        </td>
                                        <td>
                                            <b>APPLICATION NO</b> : <b> STUDENTAPPLICATIONID </b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Name of the Candidate: </b>CANDIDATENAME
                                        </td>
                                        <td>
                                            <b>Date of Birth as per 10th: </b>DOB
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Father Name: </b>FATHERNAME</td>
                                        <td><b>Mother Name: </b>MOTHERNAME</td>
                                    </tr>
                                    <tr>
                                        <td><b>Category: </b>CASTECATEGORY</td>
                                        <td><b>Mobile No: </b>MOBILENO</td>
                                    </tr>
                                    <tr>
                                        <td><b>Fee: </b>FEEPAID</td>
                                        <td><b>Aadhar Number: </b>AADHARNUMBER</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><b>Address Line 1: </b>ADDRESS1</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><b>Address Line 2: </b>ADDRESS2</td>
                                    </tr>
                                    <tr>
                                        <td><b>State of Domicile</b>: STATEDOMICILE</td>
                                        <td><b>Pincode</b>: STUDENTPINCODE</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><b>Email Address: </b>EMAILADDRESS</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-2 txt-center">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th scope="row txt-center">
                                            <img src="PHOTOURL" width="120px" height="112px" />
                                        </th>
                                    </tr>
                                    <tr>
                                        <th scope="row txt-center m-0">
                                            <img src="SIGNURL" width="120px" height="82px" />
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="BoxD border- padding mar-bot">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h5>DETAIL OF EDUCATION - CLASS X</h5>
                        </div>
                        <div class="col-sm-12">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <b>Educational Qualifications</b>: Class X or Equivalent
                                        </td>
                                        <td colspan="2">
                                            <b>Pass Status</b>: TENTHPASSSTATUS
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"><b>Board Name</b>: TENTHBOARD </td>
                                    </tr>
                                    <tr>
                                        <td><b>Year of Passing</b>: TENTHYEAR</td>
                                        <td><b>Marks Obtained</b>: TENTHMARKSOBTAINED</td>
                                        <td><b>Maximum Marks</b>: TENTHMAXMARKS</td>
                                        <td><b>Percentage (%) Marks</b>: TENTHPERCENT</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"><b>School Name & Location</b>: TENTHSCHOOL</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="BoxD border- padding mar-bot">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h5>DETAIL OF EDUCATION - CLASS XII</h5>
                        </div>
                        <div class="col-sm-12">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <b>Educational Qualifications</b>: Class XII or Equivalent
                                        </td>
                                        <td colspan="2">
                                            <b>Pass Status</b> : TWELFTHPASSSTATUS
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"><b>Board Name</b>: TWELFTHBOARD </td>
                                    </tr>
                                    <tr>
                                        <td><b>Year of Passing</b>: TWELFTHYEAR</td>
                                        <td><b>Marks Obtained</b>: TWELFTHMARKSOBTAINED</td>
                                        <td><b>Maximum Marks</b>: TWELFTHMAXMARKS</td>
                                        <td><b>Percentage (%) Marks</b>: TWELFTHPERCENT</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"><b>School Name & Location</b>: TWELFTHSCHOOL</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>