<div id="leftmenu">
	<ul class="left-menu">
		<li class="left-menui aactive"><a>Technical Wing </a>
			<ul>
				<li><a href="javascript:;">Clinical Service Division</a>
					<ul>
						<li><a href="javascript:;">Clinical Service Division</a></li>
						<li><a href="javascript:;">Division of Internship Extership & Residency</a></li>
						<li><a [routerLink]="['/facilities']">Training Division</a></li>
						<li><a [routerLink]="['/activities']">Research Division</a></li>
						<li><a href="javascript:;">Division of Information Technology and Publication </a></li>
						<li><a href="javascript:;">Division of Stores and Supplies </a></li>
					</ul>
				</li>
				<li><a href="javascript:;">Division of Internship Extership & Residency</a></li>
				<li><a [routerLink]="['/facilities']">Training Division</a></li>
				<li><a [routerLink]="['/activities']">Research Division</a></li>
				<li><a href="javascript:;">Division of Information Technology and Publication </a></li>
				<li><a href="javascript:;">Division of Stores and Supplies </a></li>
			</ul>

		</li>
		<li class="left-menui"><a>Administrative Wing</a>
			<ul>
				<li><a href="javascript:;">Administrative Division</a></li>
				<li><a href="javascript:;">Library</a></li>
			</ul>

		</li>
		<li class="left-menui"><a class="alisting">Resource Material </a>
			<ul>
				<li><a href="javascript:;">Resource Material </a></li>
				<li><a href="javascript:;">Annual Report</a></li>
				<li><a href="javascript:;">RTI </a></li>
				<li><a href="javascript:;">Newsletter </a></li>
				<li><a href="javascript:;">Technical Guidelines</a></li>
			</ul>

		</li>
		<li class="left-menui"><a class="alisting">Training Programme</a>
			<ul>
				<li><a [routerLink]="['/academics']">ANM Diploma Course</a></li>
				<li><a href="javascript:;">Community Health Nursing Training</a></li>
				<li><a href="javascript:;">Medical Interns</a></li>
			</ul>
		</li>
		<li><a [routerLink]="['/gallery']">Gallery</a></li>
		<li><a [routerLink]="['/download']">Download <span class="label label-danger">New</span> </a></li>

	</ul>
</div>