<div class="col-md-12">
  <div class="container post-container">
    <div class="container-content">
      <h3 class="font-weight-bold py-1">PRIVACY POLICY</h3>
      <h5 class="font-weight-bold py-1">ABOUT THIS WEBSITE</h5>
      <p class="description font-weight-bold py-1">
        This is the official website of Rural Health Training Centre(RHTC), Najafgarh, New Delhi 110043. Rural Health
        Training Centre, Najafgarh, New Delhi was set up as health unit in 1937 with the financial support and guidance
        of Rockefeller Foundation at Najafgarh to cover an area of about 162 sq. miles having a population of 44,000
        scattered over 35 villages for rendering primary health care services through dispensary and team of
        Para-medical staff. After the adoption of Bhore Committee, the unit was upgraded to a Primary Health Centre,
        inaugurated by Hon’ble Health Minister Dr. Raj Kumari Amrit Kaur, on dated 06-03-1949.It was re-organized in
        1954 to carry out to the functions of an Orientation Training Centre on regional basis to train the Rural Health
        Workers for shouldering greater responsibilities in the community development programs..
      </p>
      <h5 class="font-weight-bold py-1">TERMS OF USE AND DISCLAIMER</h5>
      <p class="description font-weight-bold py-1">
        This website is designed, developed and maintained by RHTC, New Delhi (under Ministry of Health & Family
        Welfare, Government of India) in collaboration with third party vendors. Though all efforts have been made to
        ensure the accuracy and currency of the content on this website, the same should not be construed as a statement
        of law or used for any legal purposes. In case of any ambiguity or doubts, users are advised to verify/check
        with the concerned authority of the Centre.
      </p>
      <p class="description font-weight-bold py-1">
        The information posted on this website could include hypertext links or pointers to information created and
        maintained by non-Government/private organizations. RHTC, New Delhi is providing these links and pointers solely
        for your information and convenience. When you select a link to an outside website, you are leaving RHTC, New
        Delhi website and are subject to the privacy and security policies of the owners/sponsors of the outside
        website.
      </p>
      <p class="description font-weight-bold py-1">
        Material featured on this website may be reproduced free of charge after taking proper permission by sending a
        mail to us. However, the material has to be reproduced accurately and not to be used in a derogatory manner or
        in a misleading context. Wherever the material is being published or issued to others, the source must be
        prominently acknowledged. However, the permission to reproduce this material shall not extend to any material,
        which is identified as being confidential and or copyright of a third party. Authorization to reproduce such
        material must be obtained from the copyright holders concerned.
      </p>
      <p class="description font-weight-bold py-1">
        RHTC, New Delhi does not guarantee the availability of such linked pages at all times.
        Under no circumstances will this Centre be liable for any expense, loss or damage including, without limitation,
        indirect or consequential loss or damage, or any expense, loss or damage whatsoever arising from use, or loss of
        use, of data, arising out of or in connection with the use of this website.
        These terms and conditions shall be governed by and construed in accordance with the Indian Laws. Any dispute
        arising under these terms and conditions shall be subject to the jurisdiction of the courts of Delhi.
      </p>
      <h5 class="font-weight-bold py-1">COPYRIGHT STATEMENT</h5>
      <p class="description font-weight-bold py-1">
        Material on this site (www.rhtcnajafgarh.in) is subject to copyright protection unless otherwise indicated. In
        case certain content is subjected to copyright by third party, due authorization to use such content must be
        obtained from the respective copyright holder. Unless otherwise specified, material may be downloaded for
        appropriate use without requiring specific prior permission. Any other proposed use of the material is subject
        to the approval of RHTC, New Delhi. However, the material has to be reproduced accurately and not shall not be
        used in a derogatory manner or in a misleading context. Wherever the material is being published or issued to
        others, the source must be prominently acknowledged.
      </p>
      <p class="description font-weight-bold py-1">
        These terms and conditions shall be governed by and construed in accordance with the Indian Laws. Any dispute
        arising under these terms and conditions shall be subject to the jurisdiction of the courts of Delhi.
      </p>
      <h5 class="font-weight-bold py-1">HYPERLINKING POLICY </h5>
      <p class="description font-weight-bold py-1">
        Prior permission is required for external linking by websites / portals to the information hosted in our website
        (rhtcnajafgarh.in). Permission for the same, stating the nature of the content on the pages from where the link
        has to be provided and the exact language of the Hyperlink should be obtained from RHTC, New Delhi. We do not
        permit our pages to be loaded into frames on your site. Our website's pages must load into a newly opened
        browser window of the user.
      </p>
      <h5 class="font-weight-bold py-1">COLLECTION OF DEVICE INFORMATION</h5>
      <p class="description font-weight-bold py-1">
        We may collect non-personal information when you access the website RHTC, New Delhi (www.rhtcnajafgarh.in) with
        regard to computer, mobile device or other device you have used to access our website, such as IP address,
        unique device identifiers, browser type, browser language or other information. We shall not disclose site usage
        by individual IP addresses. Web server logs are retained on a temporary basis and then deleted from our systems.
        However if mandated by law or courts directives or requests from law enforcing agencies we may in specific
        instances be obliged to share the IP addresses especially during the course of investigations of malpractice
        fraud etc.
      </p>
      <h5 class="font-weight-bold py-1">USE OF COOKIES</h5>
      <p class="description font-weight-bold py-1">
        Cookies (HTTP cookies, web cookies, internet cookies, browser cookies) are small files in your computer
        containing data sent from our website to your computer when you browse our website. Cookies are stored on your
        computer. We use cookies to understand and save your preferences for future visits and compile data to help us
        offer better site experiences and tools in the future. We may use services of third-party service providers to
        assist us in enhancing your experience while visiting our website. However these service providers are obligated
        under contract not to share any data with any one else.
      </p>
      <p class="description font-weight-bold py-1">
        It may be mentioned that there may be “third-party cookies” that originated in websites other than ours
        (www.rhtcnajafgarh.in) such as YouTube, Twitter, Facebook, Google Plus or other social media services or payment
        gateways for which we may have implemented “plug-ins.” These websites are not under the direct control of RHTC,
        New Delhi and the privacy policies of these websites can be obtained by visiting the privacy policy pages of
        these sites directly.
        You are free to block or disable cookies and this can be done easily using your browser settings.
      </p>
      <h5 class="font-weight-bold py-1">WEBSITE SECURITY</h5>
      <p class="description font-weight-bold py-1">
        For site security purposes and to ensure that this service remains available to all users, this Government
        computer system employs commercial software programs to monitor network traffic to identify unauthorized
        attempts to upload or change information, or otherwise cause damage.
        Except for authorized law enforcement investigations, no other attempts are made to identify individual users or
        their usage habits. Raw data logs are used for no other purposes and are scheduled for regular deletion.
      </p>
      <p class="description font-weight-bold py-1">
        Unauthorized attempts to upload information or change information on this service are strictly prohibited and
        may be punishable
      </p>
      <h5 class="font-weight-bold py-1">REFUNDS POLICY</h5>
      <p class="description font-weight-bold py-1">
        Fee once paid will not to be returned in any circumstances.
      </p>
      <h5 class="font-weight-bold py-1">CHANGES IN WEBSITE POLICIES</h5>
      <p class="description font-weight-bold py-1">
        RHTC, New Delhi reserves the right to amend or change in the above website policy from time to time without
        prior notice. The updated website policy shall be uploaded in the website www.rhtcnajafgarh.in as necessary.
      </p>
      <h5 class="font-weight-bold py-1">This Website Policy was last updated on 16 Aug. 2019</h5>
    </div>
  </div>
</div>